<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Running Plan App{% endblock %}</title>
    {% include 'bootstrap.html' %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    
    {% include 'header.html' %}
    <h1>Congrats {{ name }}! Here’s your training plan</h1>
    <table>
        <tr>
            <th>Week</th>
            <th>Total Miles</th>
            <th>Runs per week</th>
            <th>Miles per run (approx)</th>
        </tr>
        {% for week in plan %}
        <tr>
            <td>Week {{ week.week }}</td>
            <td>{{ week.total_miles }}</td>
            <td>{{ week.days }}</td>
            <td>{{ week.per_run }}</td>
        </tr>
        {% endfor %}
    </table>
    <p><a href="/">Make another plan</a></p>

    {% include 'footer.html' %}
</body>
</html>